/* GENERAL */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #94c3eb;
}

h1 {
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.floatClear {
    clear:both;   
}

#separator {
    background-color: black;
    color: black;
}

/* PERSPECTIVE EFFECT */
#perspectiveOuter {
    /*position: absolute;
    top: 50px;
    bottom: 100px;
    /*overflow: hidden;*/
    width: 80%;
    height: 85vh;
    margin: 10px auto;
    /*border: 1px solid red;
    /*left:0px;
    right:0px;
    /*-webkit-perspective: 1000px; /* Chrome, Safari, Opera  */
    perspective: 1000px;
}

#perspectiveInner {
    overflow-y: scroll;
    margin: auto;
    flex: 1;
    
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    
    border: 1px solid black;
    background-color: aliceblue;
    /*text-align: center;
    /*-webkit-transform: rotateX(60deg); /* Chrome, Safari, Opera  */
    /*transform: rotateX(15deg);*/
}

/* MAIN NAVIGATION */
.mainNavUl{
    width: 80%;
    height: 10%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin: 20px auto;
}
.mainNavUl li {
    margin: auto;
}


/* BROWSER FORM */
form {
    background-color: aliceblue;   
}
form fieldset * {
    margin-bottom: 10px;
}

#browserTable, #browserTable th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
#browserTable td {
    border: 1px solid black;
    border-collapse: collapse;
}
#browserTable input[type=checkbox] {
    cursor:pointer;
}

.itemOverview {
    width: 90%;
    margin: 10px auto;
}

.filter {
    padding-bottom: 30px;   
    width: 90%;
    margin: 10px auto;
}

#confirmationGhost {
    float: right;
    position: absolute;
    right: 50%;
    top: 200px;
    padding: 10px;
    color: red;
    display: none;
}

.omWrapper {
    display:block; 
    padding: 10px;
}
.omWrapper:hover {
     background:#eee;
     cursor:pointer;
}

/* NEW FILTER */
.filterNew {
    background-color: #333;
    padding: 0px;
    margin: 0px;
    width: 100%;
    float: left;
}

.filterLeft {
    width: 45%;
    float: left;
}

.filterRight {
    width: 45%;
    float: left;
}

/* NEW FILTER SUBOPTIONS */
.fetch_orderBy{
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

.fetch_disablePoV {
    float: left;
}

/* LOGIN FORM */
section#loginForm form { display: table; margin-bottom: 30px;}
section#loginForm p { display: table-row; }
section#loginForm label { display: table-cell; }
section#loginForm input { display: table-cell; }


/* TEST */
.melee_icon {
    width: 32px;
    height: 32px;   
}
.melee_icon:before {
    content: url(../res/icons/tb_melee_50.gif);
}