@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
.menu {
  font-family: 'Roboto', sans-serif;
  background: #333;
  display: table;
  position: relative;
  margin: 0 0.5rem; }
  .menu:before, .menu:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0.5rem;
    background: #333; }
  .menu:before {
    left: -0.5rem;
    border-radius: 0.5rem 0 0 0.5rem; }
  .menu:after {
    right: -0.5rem;
    border-radius: 0 0.5rem 0.5rem 0; }

.menu_item {
  display: block;
  float: left;
  white-space: nowrap;
  color: #ccc;
  font-size: 1rem; }
  .menu_item:last-child {
    margin-right: 0; }
  .menu_item .toggle {
    display: none; }
    .menu_item .toggle:checked ~ .expander {
      max-width: 16rem;
      background: #222; }
      .menu_item .toggle:checked ~ .expander .menu_icon {
        color: #ABDC38;
        animation: none; }
      .menu_item .toggle:checked ~ .expander .menu_text {
        color: #fff; }
  .menu_item .expander {
    max-width: 2rem;
    overflow: hidden;
    transition: all ease-in-out 233ms;
    padding: 0.5rem;
    padding-right: 0.5rem; }
    .menu_item .expander:hover {
      background: #000; }
      .menu_item .expander:hover .menu_icon {
        color: #fff;
        animation: jiggle ease-in-out 400ms infinite; }
  .menu_item label {
    line-height: 2rem; }
  .menu_item .menu_icon {
    display: inline-block;
    font-size: 2rem;
    line-height: 2rem;
    vertical-align: middle;
    width: 2rem;
    text-align: center;
    margin-right: 0.5rem;
    transition: color ease-in-out 80ms; }
  .menu_item .menu_text {
    line-height: 2rem;
    color: transparent;
    display: inline-block;
    vertical-align: middle;
    padding-right: 0.5rem;
    transition: color ease-out 333ms; }

.menu_title {
  color: #fff;
  font-size: 1rem;
  display: block;
  float: left;
  line-height: 2rem;
  padding: 0.5rem; }

.positioner {
  display: table;
  margin: 0 auto;
  /*margin-top: calc(50vh - 2.25rem)*/ }

@keyframes jiggle {
  0% {
    transform: none; }
  25% {
    transform: rotateZ(5deg); }
  75% {
    transform: rotateZ(-5deg); }
  100% {
    transform: none; } }

/*# sourceMappingURL=filterTabs.css.map */
